@page
@using Microsoft.Extensions.Localization
@using Mre.Sb.Notification.Localization
@model Mre.Sb.Notification.Web.Pages.Notification.IndexModel
@inject IStringLocalizer<NotificationResource> L
@{
}
<h1>Notification</h1>
<p>@L["SamplePageMessage"]</p>
